<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dashboard</title>
    </head>
    <body>



        <div>
            <p>dummy</p> 
        </div>
        <input type="checkbox" id="check"><label for="check">Alert every 3 seconds</label>
        <input type="checkbox" id="sensor"><label for="sensor">Get data every 3 seconds</label>
        <script src="static/jquery-1.11.1.min.js"></script>
        <script src="static/dashboard.js"></script>
    </body>

</html>
