<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <link rel="stylesheet" href="static/jquery-ui-1.11.2.custom/jquery-ui.min.css">
    <link rel="stylesheet" href="static/onoffswitch.css">
    <link rel="stylesheet" href="static/layout.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src="static/jquery-ui-1.11.2.custom/external/jquery/jquery.js"></script>
    <script src="static/jquery-ui-1.11.2.custom/jquery-ui.min.js"></script>
    <script src="static/flot/jquery.flot.js"></script>
    <script src="static/flot/jquery.flot.time.min.js"></script>
    <header>
        <h1>Fishtank Dashboard</h1>
        </header>

        <section>
            <article>
                <div id="placeholder"></div>
            </article>
            <article>
                <img id="RecentImage" src="http://renomania.ddns.net/recentImage">
            </article>
        </section>
        <aside>
            alert
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="check">
                <label class="onoffswitch-label" for="check">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </div>
            update data
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="sensor">
                <label class="onoffswitch-label" for="sensor">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </div>
            update image
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="image">
                <label class="onoffswitch-label" for="image">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </div>
        </aside>
        <script src="static/dashboard.js"></script>
            <script>
                $(window).resize( function(){
                    $('#placeholder').attr({width: '100px'});
                });

            </script>
        </body>
        </html>
