<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Here</title>
</head>
<body>
    <h1>Login to Web App</h1>
    <form action="/login" method="post" enctype="multipart/form-data">
        <input type="text" name="username" value="" placeholder="Username"/>
        <input type="password" name="password" value="" placeholder="Password"/>
        <input type="submit" name="commit" value="Login"/>
    </form>

    <form action="/feed" method="post">
	<input type="submit" value="Feed Fish">
	</form>

    <img src="http://renomania.ddns.net/recentImage" height="100">
</body>
</html>
